<!-- <!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css" />
<link rel="stylesheet" href="/static/helper.css" />

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Apna title</title>
</head> -->

{% extends 'base.html' %}

{% block content %}

<body>
<section>
    <table class="table table-striped">
  
    <tr>
      <th scope="col">Id</th>
      <th scope="col">DeviceType</th>
      <th scope="col">DeviceVersion</th>
      <th scope="col">DeviceLocation</th>
      <th scope="col">PrimaryGroup</th>
      <th scope="col">SecondaryGroup</th>
      <th scope="col">LastContact</th>
      <th scope="col">Status</th>
    </tr>
  

    {% for a in key %}
    <tr>
      <th scope="row">{{a.Id}}</th>
      <td>{{ a.DeviceType | safe }}</td>
      <td>{{ a.DeviceVersion | safe }}</td>
      <td>{{ a.DeviceLocation | safe }}</td>
      <td>{{ a.PrimaryGroup | safe }}</td>
      <td>{{ a.SecondaryGroup | safe }}</td>
      <td>{{ a.LastContact | safe }}</td>
      <td>{{ a.Status | safe }}</td>
    </tr>
    {% endfor %}

</table>
</section>
</body>
{% endblock  %}

{% comment %} <script src="/static/script.js"></script>

</html> {% endcomment %}

